.header-wrapper {
    color: white;
    z-index: 1;
    top: 0;
}
.navbar-container {
  gap: 3rem;
}
.navbar-menu {
   gap: 1rem;
}
.navbar-logo{
    gap: 1rem;
    
}

.nav-btn{
    position: relative;
}
.nav-btn>:nth-child(2){
    position: absolute;
    left: 15;
}
.heading {
    margin-top: 9rem;
    gap: 1rem;
    text-align: left;
    max-width: 404px;
}
.heading>:nth-child(1){
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}
.heading>:nth-child(3){
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.heading-ratings {
    gap: 2rem;
}

.heading-ratings>:nth-child(n){
    gap: .5rem;
}
.play-btn {
    gap: 0.5rem;
}
@media (max-width: 425px) {
    .navbar-container {
        gap: 1.5rem;
      }
    .navbar-container>:nth-child(1) {
      order: 1; 
    }
  
    .navbar-container>:nth-child(2) {
      order: 3; 
    }
  
    .navbar-container>:nth-child(3) {
      order: 2;
    }
    .navbar-container>:nth-child(3)>:nth-child(1) {
      display: none;
    }
    .heading {
        margin-top: 3rem;
    }
    .heading>:nth-child(1){
      font-size: 40px;
      font-weight: 700;
      line-height: 56px;
    }
    .heading>:nth-child(3){
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }
  }
  @media (max-width: 768px) {
    
    /* .heading>:nth-child(1){
        font-size: 35px;
        font-weight: 700;
        line-height: 40px;
    } */
    .navbar-container {
        gap: 1.5rem;
      }
      .navbar-container>:nth-child(3)>:nth-child(1) {
        display: none;
      }
  }